.radioButtonContainer{
    border:none;
    background-color:red
}

.radioButtonContainer:hover{
 border:dashed 2px rgba(0,0,0,0.6);
 border-radius: 0px;
 
}

.radioButtonContainer input:hover{
    background-color: #1e1e1e;
}