@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: "Inter",sans-serif;
    box-sizing: border-box;
   
}